.bl-button {
  cursor: pointer;
  border: 2px solid rgba($accents-peach, 0.6);
  background-color: Transparent;
  background-repeat:no-repeat;

  @include caption
  color: $bl-button-text-color;
  padding: 1rem;
  position: relative;

  &:hover {
    color: white;
    background-color: rgba($accents-moss, 0.3);
  }

  &:after {
    content: "|";
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &:before {
    content: url(/img/arrow.svg);
    display: block;
    width: 1rem;
    position: absolute;
    right: asRem(10px);
    color: $bl-button-text-color;
  }
}