.hero {
  padding: 1rem;
  padding-bottom: 3rem;
  color: $hero-text-color;
  text-align: center;



  background-image: url(/img/bg.jpg);
  background-size: cover;

  p {
    @include body-large;
  }

  @media (min-width: $medium) {
    height: asRem(500px);
    width: 100%;
    
    display: flex;
    position: relative;

    margin-left: 0;
    margin-right: 0;
    padding: 0;

    .center-content {
      width: asRem(496px);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      margin-top: asRem(20px);
    }
  }

  @media (min-width: $large) {
    background-position-y: asRem(-247px);
    height: asRem(792px);

    .center-content {
      margin-top: asRem(255px);
    }
  }
}
