// Base Colors.  Reference these in variables that are less abstract below
$accents-taupe: #998A7F;
$accents-peach: #D4BAA3;
$accents-teal: #4C6266;
$accents-moss: #4D8C8C;

$neutrals-black: #262626;
$neutrals-paper: #D9D9D9;
$neutrals-white: #FFFFFF;

// Variables
$navigation-primary-color: $accents-taupe;
$navigation-link-color: $neutrals-white;
$card-background-primary-color: $accents-taupe;
