@import "../main";

aside {
  a {
    display: block;
  }
  @media (min-width: $small) {
    @include span(3);
  }
}

section {
  box-sizing: border-box;
  @include span(12);
  margin-bottom: 2rem;

  h2, p {
    padding-left: 1rem;
  }
}

.button-demo-wrapper {
  background: url(/img/bg.jpg);
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction:  row;

  button {
    margin: 1rem;
  }
}

.card {
  margin-top: 1rem;
}