.hero {
  .stroke-divider.large {
    margin: auto;
  }

  button {
    margin-top: 1rem;
  }

  @media (min-width: $large) {
    margin-top: -2rem;
    margin-bottom: -65px;

    .stroke-divider.large {
      margin: 1rem 0 0 0;
    }

    button {
      margin-top: 2rem;
    }
  }
}

.card {
  margin-top: 1rem;

  @media (min-width: $large) {
    &.news-primary {
      @include span(3 of 12);
      min-height: 536px;
    }
    
    &.news-two {
      @include span(6 of 12);
    }

    &.news-three {
      @include span(3 of 12 last);
    }

    &.news-four {
      @include span(3 of 12);
    }

    &.news-five {
      @include span(6 of 12 last);
    }
  }
}

footer {
  margin-bottom: 5rem;

  p {
    @include h2;
    margin-bottom: 3rem;
  }

  .search-field {
    margin-bottom: 2rem;
  }
}
