.hero {
  .stroke-divider.large {
    margin: auto;
  }

  button {
    margin-top: 1rem;
  }

  @media (min-width: $large) {
    margin-top: -2rem;
    margin-bottom: -65px;

    .stroke-divider.large {
      margin: 1rem 0 0 0;
    }

    button {
      margin-top: 2rem;
    }
  }
}

.card {
  margin-top: 1rem;

  @media (min-width: $large) {
    &.one {
      @include span(3 of 12);
      min-height: 536px;
    }
    
    &.two {
      @include span(6 of 12);
    }

    &.three {
      @include span(3 of 12 last);
    }

    &.four {
      @include span(3 of 12);
    }

    &.five {
      @include span(6 of 12 last);
    }
  }
}

footer {
  @include span(12 of 12 last);
  margin-top: 5rem;
}
