@import "main";

aside {
  a {
    display: block;
  }
  @media (min-width: $small) {
    @include span(3);
  }
}

main {
  padding: 1rem;
  background-color: rgba($navigation-primary-color, 0.3);
  @media (min-width: $small) {
    @include span(9 at 4);
  }
}